@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'OlympicHeadline';
    src: url('../fonts/OlympicHeadline-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'OlympicHeadline';
    src: url('../fonts/OlympicHeadline-RegularItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: 'OlympicSans';
    src: url('../fonts/OlympicSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'OlympicSans';
    src: url('../fonts/OlympicSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }

*{
  font-family: 'OlympicHeadline', sans-serif;
}

/* home page styles */
.header-container {
  background-image: url('../images/background-image.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.logo-container {
  max-width: 100%;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-container img {
  height: auto;
}

.section-buttons {
  text-align: center;
  margin: 100px;
}

.section-buttons button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.page-title{
  text-align: center;
}

.bg-black{
  background-color: black;
  color: white;
}

.title-value{
  font-size: 40px;
}

@media (max-width: 768px) {
  .header-container {
    height: 100vh;
  }
}

/* footer section */
footer {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 1000;
}

.align-footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.align-footer > * {
  margin: 0 12px;
}

.text-center{
  margin: 7px 0 7px 0;
}

/* mobil responsive */
@media (max-width: 768px) {
  footer img {
    display: none;
  }
}

/* text paragraph */
.simple-text{
  font-family: 'OlympicSans';
  margin: 0;
}

.image-mascotte{
  height: auto;
  width: 80px;
}

#map {
  width: 100%;
  height: 100%;
}

/* Search barre section */
.border-button{
  border-radius: 10px;
}

.search-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-barre{
  width: 50%;
}

input, select{
  border-radius: 15px;
}

@media (max-width: 768px) {
  .search-container {
    flex-direction: column;
    justify-content: center;
  }

  .search-barre {
    width: 80%;
  }
}

/* all sports section */

.sports-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.sports-container .card {
  flex: 1 1 calc(33.333% - 32px);
  box-sizing: border-box;
  padding: 16px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  transition: transform 0.2s;
  width: 300px;
  box-shadow: 0 10px 10px #ccc;
}

.sports-container .card:hover {
  transform: scale(1.05);
}

.sports-container .card img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}

.sports-container .card-description {
  margin: 16px 0;
  font-size: 1rem;
  color: #333;
}

.sports-container .card-link {
  display: inline-block;
  margin-top: 8px;
  padding: 8px 16px;
  color: #6c6b6b;
  text-decoration: none;
}

/* 404 page */
.modal-container {
  /*position: fixed;*/
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
  overflow: hidden;
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
  height: calc(100vh - 300px);
}

.error-container img {
  max-width: 100%;
  height: auto;
}

/* single style */
.center-element{
  text-align: center;
}

.marge-bottom{
  margin-bottom: 50px;
}

.marge-top{
  margin-top: 10px;
}

.marge-bloc{
  margin: 15px;
}

/* Sport details page */
.section-sport-view {
  background-image: url('../images/background-sport.png');
  background-size: cover;
  background-position: center;
  padding: 20px;
  color: white;
  height: 40vh;
  position: relative;
}

.top-right {
  position: absolute;
  top: 10px;
  right: 10px;
}

.bottom-left {
  position: absolute;
  bottom: 10px;;
  left: 10px;;
}

.section-sport-view img {
  height: auto;
  width: 100px;
}

hr.custom-line {
  border: none;
  height: 4px;
  background-color: #000000;
  width: 90%;
  margin: 0 auto;
}

.section-sport-calendar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.section-sport-calendar{
  height: 400px;
}

@media (max-width: 768px) {
  .section-sport-view {
    height: 100vh;
  }
  .hide{
    display: none;
  }
}

/* Locations page */

.section-location-view{
  background-image: url('../images/background-lieu.png');
  background-size: cover;
  background-position: center;
  padding: 20px;
  color: white;
  height: 40vh;
  position: relative;
}

.section-location-view img {
  height: auto;
  width: 100px;
}

.icons-container{
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .section-location-view {
    height: 100vh;
    flex-direction: column;
  }

  .section-location-view img {
    text-align: center;
  }
}