@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'OlympicHeadline';
    src: url('../fonts/OlympicHeadline-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'OlympicHeadline';
    src: url('../fonts/OlympicHeadline-RegularItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: 'OlympicSans';
    src: url('../fonts/OlympicSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'OlympicSans';
    src: url('../fonts/OlympicSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }

*{
  font-family: 'OlympicHeadline', sans-serif;
}

/* footer section */
footer {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 1000;
}

.align-footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#menu-toggle-button {
    transition: left 0.3s ease-in-out;
}

.align-footer > * {
  margin: 0 12px;
}

.text-center{
  margin: 7px 0 7px 0;
}
#menu-toggle-button {
  transition: transform 0.3s ease-in-out;
}
#map-search-menu {
  transition: transform 0.3s ease-in-out;
}

.image-mascotte{
  height: auto;
  width: 80px;
}

/* sport details */
